body{
  font-family: Arial, Verdana, Geneva, Lucida, 'lucida grande', helvetica, sans-serif;
  background-color: #FFF;
}
#page-content {
    padding: 0px !important;
}
#wg-toolbar {
    background-color: #f5f5f5;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100%;
    z-index: 777;
}
#wg-content {
    padding: 44px 5px 0px 5px;
}
#wg-content-top {
    /*background-color: #eff3f8;*/
    padding-top: 5px;
}
.wg-toolbar {
    background-color: #f5f5f5;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100%;
    z-index: 777;
}
.wg-content {
    padding: 44px 5px 0px 5px;
}
#btn-scroll-up{
    min-height: 20px !important;
    height: 20px !important;
}
.hide {
    display: none;
}
/**
 * ============LOADING==============
 */
.widget-box-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*background-color: rgba(0,0,0,0.3);*/
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    z-index: 999999;
}
.widget-box-layer>[class*="icon-"] {
    position:relative;
    top:35%
}
.widget-box-layer>.icon-spin {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    animation-duration: 1.2s
}
#loading-msg {
    padding: 5px;
    position: relative;
    font-style: italic;
    background-color: #fff;
}
.ajax-loading-indicator {
    border: 1px solid #a3bad9;
    background-color:#ffffcc;
    color: #444;
    font-size: 13px;
    padding: 10px;
    margin: 0;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.ajax-loading-indicator-overlay {
    background-color: rgba(0,0,0,0.3);
}
/*
 * ============COMMON CSS==============
 */
.error {
  border: 1px solid #ff0000 !important;
}
.required:before {
  color: #ff0000;
  content: "*";
}
.ilabel{
  padding-left: 5px;
  padding-top: 5px;
  font-weight: bold;
  white-space: nowrap;
}
.select-icon{
  color: #008080 !important;
  cursor:pointer;
}
.text-right {
	text-align:right !important;
}
.text-left {
  text-align:left !important;
}
.text-center {
  text-align:center !important;
}

.yellow {
    color: #ffff00;
}
/*
 * ============Modal Dialog==============
 */
.label-200 .ilabel{
  width: 200px !important;
  padding-right: 5px;
}
.lbl-bold {
    font-weight: bold;
}
.no-toolbar {
    padding-top: 2px !important;
}
.onegate-toolbar {
    border: 1px solid #D6E1EA;
    border-color: #D6E1EA rgba(0, 0, 0, 0);
    background-color: #F1F5FA;
    margin-left: 5px;
}
.onegate-info-name {
    width: 170px !important;
    font-weight: bold;
}
.onegate-info-value {
  margin-left: 180px !important;
}
.no-skin {
  background-color: #F8F8F8;
}
textarea {
   padding-left: 3px !important;
   resize: none;
}
.plugin-button {
  font-size: 150% !important;
}
.search-form {
  margin-top: 5px;
  background-color: rgb(241, 245, 250);
  border: 1px solid rgb(221, 221, 221);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 5px;
  padding: 0px 15px;
  margin-bottom: 5px;
}

.advance-search {
    border-color: #bcd4e5;
    box-shadow: 0 2px 4px rgba(30,30,100,0.25);
    top: 75px;
    left: 35px;
    background-color:#ECF2F7;
}

.advance-search.dropdown-submenu {
    position: relative;
}

.advance-search.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.advance-search.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.advance-search.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.advance-search.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.advance-search.dropdown-submenu.pull-left {
    float: none;
}

.advance-search.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*input[type=checkbox].ace.ace-switch.switch-col-2+.lbl::before,*/
/*input[type=checkbox].ace.ace-switch.switch-col-2+.lbl::before {*/
    /*font-size: 22px;*/
    /*line-height: 28px;*/
    /*height: 30px;*/
    /*border-radius: 15px;*/
    /*width: 100px;*/
    /*text-indent: -25px;*/
/*}*/
/*input[type=checkbox].ace.ace-switch.switch-col-2+.lbl::before,*/
/*input[type=checkbox].ace.ace-switch.switch-col-2+.lbl::before {*/
    /*text-indent: -48px;*/
/*}*/
/*input[type=checkbox].ace.ace-switch.switch-col-2:checked+.lbl::before,*/
/*input[type=checkbox].ace.ace-switch.switch-col-2:checked+.lbl::before {*/
    /*text-indent: 15px;*/
/*}*/
/*input[type=checkbox].ace.ace-switch.switch-col-2:checked+.lbl::after,*/
/*input[type=checkbox].ace.ace-switch.switch-col-2:checked+.lbl::after {*/
    /*left: 73px;*/
/*}*/
/*input[type=checkbox].ace.ace-switch.switch-col-2+.lbl::after,*/
/*input[type=checkbox].ace.ace-switch.switch-col-2+.lbl::after {*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*line-height: 24px;*/
/*}*/

.attachment-file {
    /*float: left;*/
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc(44% + 40px);
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.attachment-file > .file-wrap {
    overflow: hidden;
    padding: 10px;
    background: #eee;
    border-radius: 2px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.attachment-file > .file-wrap > .file-label {
    overflow: hidden;
    height: 100%;
    position: relative;
}
.attachment-file > .file-wrap > .file-label .text-overflow {
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    cursor: default;
}
.attachment-file > .file-wrap > .file-action {
    width: 80px;
    height: 100%;
    float: right;
    text-align: right;
    line-height: 25px;
}
.attachment-file > .file-wrap > .file-action span.split {
    border-right: 2px solid #CCCCCC;
    margin: 5px;
}
.attachment-file > .file-wrap > .file-action .fa-stack {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}