#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    z-index: 10
}

#nav {
    height: 1.8em;
    background: #e5ead8;
    padding-left: 6px
}

#nav a {
    color: #1a5881;
    display: block;
    padding: .4em 1em .4em .25em
}

#nav li {
    float: left
}

#nav li li {
    width: 10.5em
}

#nav li li a:hover {
    background: #e5ead8
}

#nav li .hassub {
    background: url('../../images/onegate/core/submenu.gif') bottom right no-repeat #f0f3f8
}

#nav li li a {
    width: 10em;
    padding: .25em
}

#nav li ul {
    position: absolute;
    background: #f0f3f8;
    border: solid 1px #c3cfa5;
    width: 10.5em;
    left: -999em
}

#nav li ul ul {
    margin: -1.5em 0 0 10.5em
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
    left: -999em
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
    left: auto;
}

#nav li:hover, #nav li.sfhover {
    background: #e5ead8;
}

.menu {
    float: left;
    height: 59px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 3px;
    width: 1000px;
}

.nav {
    FONT-SIZE: 11px;
    Z-INDEX: 500;
    WIDTH: 1000px;
    FONT-FAMILY: Tahoma, arial, verdana, sans-serif;
    POSITION: relative;
    HEIGHT: 32px;
    BACKGROUND-IMAGE: url('../../images/onegate/bgmenu.gif');
    font-weight: bold;
    text-align: center
}

.nav .table {
    DISPLAY: inline;
    MARGIN: 0 auto
}

.nav .select {
    PADDING-RIGHT: 0;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    WHITE-SPACE: nowrap;
    LIST-STYLE-TYPE: none
}

.nav .current {
    PADDING-RIGHT: 0;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    WHITE-SPACE: nowrap;
    LIST-STYLE-TYPE: none
}

.nav LI {
    PADDING-RIGHT: 0;
    PADDING-LEFT: 0;
    FLOAT: left;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    PADDING-TOP: 0;
    HEIGHT: auto
}

.nav .select A {
    PADDING-RIGHT: 0;
    DISPLAY: block;
    PADDING-LEFT: 0;
    FLOAT: left;
    PADDING-BOTTOM: 0;
    LINE-HEIGHT: 30px;
    PADDING-TOP: 0;
    WHITE-SPACE: nowrap;
    HEIGHT: 32px;
    TEXT-DECORATION: none;
    text-transform: uppercase;
    width: 130px;
    COLOR: #fff
}

.nav .current A {
    DISPLAY: block;
    FLOAT: left;
    COLOR: #ff0;
    LINE-HEIGHT: 30px;
    WHITE-SPACE: nowrap;
    HEIGHT: 32px;
    TEXT-DECORATION: none;
    text-transform: uppercase;
    background: url('../../images/onegate/item_over.gif') no-repeat top right;
    width: 130px;
    COLOR: #950000
}

.nav .current A span div {
    DISPLAY: block;
    FLOAT: left;
    COLOR: #ff0;
    width: 130px;
    LINE-HEIGHT: 30px;
    WHITE-SPACE: nowrap;
    HEIGHT: 32px;
    TEXT-DECORATION: none;
    background: url('../../images/onegate/item_over.gif') no-repeat top right
}

.nav .current A B {
    DISPLAY: block;
    Z-INDEX: 2
}

.nav .select A:hover {
    CURSOR: pointer;
    COLOR: #950000;
    background: url('../../images/onegate/item_over.gif') no-repeat top right;
    width: 130px
}

.nav .select LI:hover A {
    CURSOR: pointer;
    COLOR: #950000;
    background: url('../../images/onegate/item_over.gif') no-repeat top right
}

.nav .select A:hover B {
    DISPLAY: block;
    FLOAT: left;
    CURSOR: pointer
}

.nav .select LI:hover A B {
    DISPLAY: block;
    FLOAT: left;
    CURSOR: pointer
}

.nav .select_sub {
    COLOR: #f00;
    DISPLAY: none
}

.nav TABLE {
    FONT-SIZE: 1em;
    MARGIN: -1px;
    WIDTH: 0;
    BORDER-COLLAPSE: collapse;
    HEIGHT: 0
}

.nav .sub {
    PADDING-RIGHT: 0;
    DISPLAY: inline;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0 auto;
    PADDING-TOP: 0;
    LIST-STYLE-TYPE: none
}

.nav .sub_active .current_sub A {
    COLOR: #f00
}

.nav .sub_active A:hover {
    COLOR: #980b0d
}

.nav .select :hover .select_sub {
    PADDING-RIGHT: 0;
    BACKGROUND-POSITION: 50% top;
    DISPLAY: block;
    PADDING-LEFT: 0;
    Z-INDEX: 10;
    LEFT: 0;
    BACKGROUND-IMAGE: url('../../images/onegate/bgnavi.gif');
    PADDING-BOTTOM: 0;
    MARGIN-LEFT: 0;
    height: 27px;
    PADDING-TOP: 0;
    color: #f00;
    BACKGROUND-REPEAT: repeat-x;
    POSITION: absolute;
    TOP: 32px;
    TEXT-ALIGN: left
}

.nav .current .show {
    PADDING-RIGHT: 0;
    BACKGROUND-POSITION: 50% top;
    DISPLAY: block;
    PADDING-LEFT: 0;
    Z-INDEX: 10;
    LEFT: 0;
    BACKGROUND-IMAGE: url('../../images/onegate/bgnavi.gif');
    PADDING-BOTTOM: 0;
    MARGIN-LEFT: 0;
    WIDTH: 1000px;
    height: 27px;
    PADDING-TOP: 0;
    BACKGROUND-REPEAT: repeat-x;
    POSITION: absolute;
    TOP: 32px;
    TEXT-ALIGN: left
}

.nav .current .show {
    Z-INDEX: 2
}

.nav .select :hover .sub LI A {
    BORDER-TOP-WIDTH: 0;
    PADDING-RIGHT: 4px;
    DISPLAY: block;
    PADDING-LEFT: 4px;
    BORDER-LEFT-WIDTH: 0;
    FLOAT: left;
    BORDER-BOTTOM-WIDTH: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    COLOR: #8a0002;
    PADDING-TOP: 0;
    WHITE-SPACE: nowrap;
    BORDER-RIGHT-WIDTH: 0;
    text-transform: capitalize;
    background-image: none;
    width: auto;
    font-weight: normal
}

.nav .current .show .sub LI A {
    BORDER-TOP-WIDTH: 0;
    PADDING-RIGHT: 4px;
    DISPLAY: block;
    PADDING-LEFT: 4px;
    BORDER-LEFT-WIDTH: 0;
    FLOAT: left;
    BORDER-BOTTOM-WIDTH: 0;
    PADDING-BOTTOM: 0;
    MARGIN: 0;
    COLOR: #8a0002;
    PADDING-TOP: 0;
    WHITE-SPACE: nowrap;
    BORDER-RIGHT-WIDTH: 0;
    text-transform: capitalize;
    background-image: none;
    width: auto;
    font-weight: normal
}

.nav .current .sub LI.sub_show A {
    CURSOR: pointer;
    COLOR: #088
}

.nav .select :hover .sub LI A:hover {
    VISIBILITY: visible;
    COLOR: #000
}

.nav .current .sub LI A:hover {
    VISIBILITY: visible;
    COLOR: #f00;
    background-image: none
}

.subMenuActive A {
    color: #000 !important
}

.keyword {
    font-size: 12px;
    height: 15px;
    border-right: #d6dade 1px solid;
    font-size: 11px;
    border-top: #8a8b8d 1px solid;
    border-left: #8a8b8d 1px solid;
    border-bottom: #d6dade 1px solid;
    border-collapse: collapse border = 1
}

.search_word {
    text-decoration: none;
    text-transform: uppercase;
    font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    float: right;
    margin: 5px 20px 5px 5px
}

.subMenu li A {
    background-image: none
}

.subMenu li A:hover {
    background-image: none
}

.square img {
    margin: 0
}

#nav_small {
    width: 1000px;
    height: 27px;
    background-color: #b70c10;
    font-size: 13px
}

#nav_small a {
    color: white
}

#nav_small_link {
    float: left;
    padding-top: 5px
}

#nav_small_img {
    float: right;
    padding-top: 5px;
    padding-right: 5px
}

#footer_content {
    width: 990px;
    margin-top: 5px;
    text-align: center;
    font-size: 9pt;
    font-family: Arial;
    color: black
}